<header class="header p-3 pb-0 bg-white text-blue">
  <div
    class="header_container container d-flex align-items-start justify-content-between">
    <a
      routerLink="/"
      class="header_brand d-flex col-3 col-md-2 order-0 align-items-center me-4 text-white text-decoration-none">
      <img
        src="./assets/images/logo.svg"
        class="header__logo"
        alt="Project logo" />
    </a>

    <nav
      class="header_nav nav col-7 col-lg-auto order-2 order-md-1 me-auto flex-column flex-md-row justify-content-start mb-md-0">
      <ion-icon name="close" class="header_nav__close d-md-none"></ion-icon>
      <a
        routerLink="/"
        routerLinkActive="active"
        class="header_nav__link nav-link px-2 text-secondary"
        >Home</a
      >
      <a
        routerLink="/categories"
        routerLinkActive="active"
        class="header_nav__link nav-link px-2 text-secondary"
        >Categories</a
      >
    </nav>
    <span class="header_nav-backdrop d-md-none"></span>

    <div
      class="header_actions col-2 oder-1 order-md-2 d-flex justify-content-between align-items-center">
      <button class="header__cart">
        <ion-icon name="cart-outline"></ion-icon>
      </button>
      <img
        class="header__avatar"
        src="https://api.dicebear.com/8.x/fun-emoji/svg?seed=Buster"
        alt="avatar" />
      <button class="header__cart d-md-none" (click)="showMenu = !showMenu">
        <ion-icon name="menu-outline"></ion-icon>
      </button>
    </div>
  </div>
</header>
