.cart-aside {
  position: fixed;
  top: var(--header-height);
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 260px;
  background-color: var(--clr-gray-light);
  border-left: 1px solid var(--clr-blue-gray);

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--clr-gray);

    &__title {
      font-size: 1rem;
    }

    &__close {
      font-size: 1.3rem;
      cursor: pointer;
      transition: color 195ms linear;

      &:hover {
        color: var(--clr-orange);
      }
    }
  }

  &_body {
    flex: 1;
  }

  &_footer {
    padding: 0.5rem 1rem 1rem;
  }
}

.cart_list {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  overflow: auto;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    color: var(--clr-blue-gray);

    &__img {
      flex: 0 0 20%;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-radius: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0.25);
      overflow: hidden;
    }

    &_info {
      flex: 1;

      &__title {
        margin: 0;
        font-size: 0.85rem;
        font-weight: 500;
      }

      &__price {
        margin: 0;
        font-size: 0.75rem;

        strong {
          font-weight: 600;
        }
      }
    }

    &_action {
      flex: 0 0 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
    }
  }
}
